/* demo-1.css and demo-2.css have identical code, but the notes differ */

body {
  color: white;
  background-color: black;
  margin: 10%;
  font-size:120%;
}

h1 {
  color: rgb(222, 184, 135); /* burlywood */
  background-color: #ffebcd; /* blanchedalmond */
  padding: 10px 5px;
  text-align: center;
  font-style: italic;
}

h2 {
  text-decoration: overline;
}

li {
  font-family: "Comic Sans", "Comic Sans MS", serif;
}

.note {
  font-size: 90%;
}

img {
  border: 2px dotted burlywood;
}

#icon {
  border: 0px;
  width: 100px;
}

/* demo-1.css and demo-2.css have identical code, but the notes differ */

/* Notes

   - what happens when there is an external sheet and embedded sheet?
   - what happens when there is either of those, and an inline style?

*/
